:root {
    --widget-highlight-color: #20EFE3;
    --widget-topbar-color: #11101D;
    --widget-font-family: sans-serif;
    --widget-font-size: 16px;
    --widget-text-color: black;
    --widget-background-color: white;
    --widget-width: 460px;
    --widget-height: 600px;
}