<div class="style-options-content background">
  <div class="wrap">
    <div class="color-picker-wrapper">
      <div class="colorPicker"></div>
    </div>
    <div class="hex-input-wrapper">
      <span class="title">Selected Color</span>
      <input id="hexInput"></input>
    </div>
  </div>
</div>