 <div class="style-options-content size">
  <div class="size-option" id="size-option-big">
    <div class="size-square-wrapper">
      <div class="size-square big"></div>
    </div>
    <div class="sizes">
      <p class="size-letter">L</p>
      <p class="size-pixels">460 x 600</p>
    </div>
  </div>
  <div class="size-option" id="size-option-medium">
    <div class="size-square-wrapper">
      <div class="size-square medium"></div>
    </div>
    <div class="sizes">
      <p class="size-letter">M</p>
      <p class="size-pixels">380 x 520</p>
    </div>
  </div>
  <div class="size-option" id="size-option-small">
    <div class="size-square-wrapper">
      <div class="size-square small"></div>
    </div>
    <div class="sizes">
      <p class="size-letter">S</p>
      <p class="size-pixels">300 x 440</p>
    </div>
  </div>
</div>