<div class="widgets-stats-wrapper">
  <div class="widgets-clicks-wrapper">

    <div class="widgets-clicks-chart">
      <div class="clicks-column-wrapper">
        <h4>Number of clicks</h4>
        <%= bar_chart ContentAccess.joins(:widget).group(:product_title).count, label: "Clicks"%>
      </div>
      <div class="clicks-pie-wrapper">
        <h4>Most popular source</h4>
        <%= pie_chart ContentAccess.group(:source).count %>
      </div>
    </div>
  </div>
  <div class="widgets-session-time-wrapper">
    <div class="widgets-session-time-chart">
      <h4>Time per widget in seconds</h4>
      <%= bar_chart WidgetAccess.joins(:widget).group(:product_title).sum(:session_time), label: "Seconds"%>
    </div>
  </div>
  <div class="widgets-session-wrapper">
    <div class="widgets-session-chart">
      <h4>Most sessions</h4>
      <%= bar_chart WidgetAccess.joins(:widget).group(:product_title).count, label: "Sessions"%>
    </div>
  </div>

</div>