<div class="main-content">
    <div class="left-column-sidebar">
        <%= render "shared/sidebar" %>
    </div>
    <div class="right-column-content analytics-view">
        <%= render "shared/analytics" %>
    </div>
</div>