<div class="main-content">
  <div class="left-column-sidebar">
    <%= render  "shared/sidebar" %>
  </div>
<<<<<<< HEAD
  <div class="right-column-content show-view">
    <%= render "products_index" %>
    <%= render 'shared/widgetbox' %>
=======
  <div class="right-column-content">
    <%= render "my_products" %>
>>>>>>> master
  </div>
</div>
