<div class="navbar-aprooft">
  <div class="logo-name-wrapper">
    <a href="#"><div class="logo">
      <svg width="56" height="56" viewBox="0 0 1000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M626.255 164.387C614.148 374.393 440.029 540.963 226.998 541C268.182 657.519 379.306 741 509.928 741C675.613 741 809.928 606.685 809.928 441C809.928 316.564 734.167 209.824 626.255 164.387Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M253.624 661.805C243.495 622.255 253.462 582.278 277.13 552.668C279.364 549.873 278.265 545.633 274.821 544.662C254.342 538.893 232.114 538.279 210.02 543.938C143.142 561.064 102.811 629.163 119.938 696.04C124.462 713.706 132.543 729.52 143.218 742.912C143.749 743.578 144.448 744.09 145.242 744.397C169.705 753.848 197.332 755.709 224.494 747.961C245.345 742.013 263.441 731.111 277.87 716.895C279.714 715.079 279.743 712.151 278.099 710.152C266.831 696.452 258.315 680.124 253.624 661.805Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M576.928 351C632.156 351 676.928 306.228 676.928 251C676.928 195.772 632.156 151 576.928 151C521.699 151 476.928 195.772 476.928 251C476.928 306.228 521.699 351 576.928 351ZM518.928 247C527.212 247 533.928 240.284 533.928 232C533.928 223.716 527.212 217 518.928 217C510.643 217 503.928 223.716 503.928 232C503.928 240.284 510.643 247 518.928 247Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M445.145 264.551C440.369 265.688 437.054 270.144 437.969 274.968C438.187 276.118 438.433 277.269 438.707 278.42C448.302 318.714 488.745 343.602 529.04 334.007C569.335 324.412 594.222 283.969 584.627 243.674C584.353 242.523 584.054 241.385 583.731 240.26C582.374 235.541 577.407 233.058 572.63 234.195L445.145 264.551Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M489.114 218.389C487.704 216.482 485.408 218.454 484.943 220.779C482.877 231.117 476.34 241.129 466.592 247.282C460.506 251.124 454.041 252.91 447.978 252.814C444.899 252.765 441.774 253.506 439.456 255.534L437.579 257.176C435.489 259.006 434.82 262.218 436.471 264.451C446.243 277.664 465.95 278.064 480.486 265.344C495.023 252.624 498.886 231.602 489.114 218.389V218.389Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M513.806 326.509C511.417 327.514 512.998 330.444 515.344 331.544C526.539 336.797 536.718 346.981 542.046 359.581C545.428 367.579 546.355 375.368 545.167 382.075C544.649 385.002 544.868 388.086 546.394 390.637L548.769 394.605C550.284 397.136 553.549 398.594 556.268 397.45C572.249 390.728 575.699 369.398 563.973 349.808C552.248 330.218 529.787 319.787 513.806 326.509V326.509Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M500.666 608.714C498.496 606.256 499.071 602.378 502.031 600.967C502.715 600.641 503.404 600.322 504.099 600.009C554.47 577.36 613.664 599.834 636.313 650.204C658.961 700.575 636.488 759.769 586.117 782.418C565.217 791.816 542.797 793.445 522.1 788.536C518.915 787.78 517.536 784.119 519.131 781.261C541.471 741.243 545.253 691.535 525.014 646.524C518.664 632.403 510.4 619.743 500.666 608.714Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M761.516 503.573C761.739 500.302 758.921 497.577 755.714 498.262C754.973 498.42 754.231 498.587 753.49 498.762C699.749 511.493 666.503 565.379 679.234 619.12C691.964 672.861 745.85 706.107 799.592 693.376C821.891 688.094 840.661 675.726 854.082 659.223C856.147 656.683 855.01 652.939 852.003 651.645C809.907 633.524 776.622 596.412 765.246 548.389C761.677 533.323 760.517 518.25 761.516 503.573Z" fill="white"/>
      </svg>
    </div></a>
    <div class="name">Aprooft</div>
  </div>
  <div class="links-wrapper">
    <%= link_to widgets_path do %>
      <div class="sign-in">
        Sign In
      </div>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <div class="register">
        Register
      </div>
    <% end %>
  </div>
</div>
