.right-column-content.analytics-view {
  padding: 0;
}

.analytics {
  background: aliceblue;
}

.all-stats-wrapper {
  background: aliceblue;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.clicks-column-wrapper,
.clicks-pie-wrapper {
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 8px;
  h4 {
    padding: 16px 16px 0 16px;
    margin-bottom: 8px;
    font-weight: bold;
    opacity: .7;
  }
}

.clicks-column-wrapper {
  margin-right: 48px;
  flex: 50%;
}

canvas {
  background-color: white;
  padding: 0px 8px 8px 8px;
  border-radius: 0 0 8px 8px;
}

#chart1, #chart2, #chart3, #chart4 {
  padding: 16px;
}

// .clicks-column-wrapper {
//   flex-grow: 1;
// }

.global-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.session-number-wrapper {
  display: flex;
  padding: 24px 24px 0 24px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  & h3 {
    margin-bottom: 0;
  }
}

.global-stats,
.average-stats {
  color: aliceblue;
  background-color: #11101d;
}

.average-stats {
  margin-bottom: 24px;
}

.disclaimer {
  padding-right: 24px;
  width: 100%;
  color: aliceblue;
  background-color: #11101d;
  text-align: right;
  font-size: 12px;
  margin-bottom: 24px;
}

.data-section-title {
  padding: 24px 24px 0 24px;
  span i {
    font-size: 26px;
    opacity: .7;
    vertical-align: middle;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 0;
  }

}

// .worst-performer-wrapper {
//   padding: 0 24px;
// }

// .worst-performer {
//   border-radius: 8px;
//   padding: 8px 16px;
//   background-color: #DBDFE2;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .worst-performer-cta {
//   display: flex;
//   align-items: center;
// }

.total-session-time-wrapper,
.total-clicks-wrapper {
  padding: 24px 32px;
}

.global-clicks-wrapper,
.global-session-number-wrapper,
.global-session-time-wrapper,
.average-session-time-wrapper,
.average-clicks-wrapper {
  padding: 16px;
  display: flex;
  align-items: center;
  h3 {
    font-size: 32px;
    font-weight: bold;
  }
}

.global-session-number,
.global-clicks,
.global-session-time,
.average-session-time,
.average-clicks {
  background-color: #1d1b31;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.global-session-number,
.global-clicks,
.global-session-time {
  margin-right: 8px;
}

.total-session-time,
.total-clicks {
  border-top: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  border-radius: 8px 8px 0 0;
  padding: 16px 16px 0 16px;
  background-color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p, h4 {
    margin-bottom: 8px;
    opacity: .7;
  }
  p {
    padding-right: 8px;
  }
}

.total-clicks > h4,
.total-session-time > h4 {
  font-weight: bold;
}

#select-widget select {
  padding: 8px;
  border-radius: 12px;
  font-size: 24px;
  background-color: #DBDFE2;
  border: none;
}

.widgets-stats-wrapper {
  padding: 24px;
}

.widgets-clicks-chart,
.widgets-clicks,
.widgets-session,
.widgets-session-time {
  display: flex;
}

.widgets-clicks,
.widgets-session,
.widgets-session-time {
  align-items: baseline;
  p {
    margin-right: 8px;
  }
}

.widgets-session-time-wrapper,
.widgets-clicks-wrapper,
.widgets-session-wrapper {
  padding: 16px;
}

.widgets-session-time-chart {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  h4 {
    margin-bottom: 8px;
    font-weight: bold;
    opacity: .7;
    padding: 16px 16px 0 16px;
  }
}

.widgets-session-chart {
  background-color: white;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 100%;
  h4 {
    margin-bottom: 8px;
    font-weight: bold;
    opacity: .7;
    padding: 16px 16px 0 16px;
  }
}

.session-time-chart > #chart-4,
.session-time-chart > #chart-5 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  border-radius: 0 0 8px 8px;
}

.clicks-chart > #chart-1 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  border-radius: 0 0 8px 8px;
}

.clicks-youtube-reddit-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  h4 {
    text-align: center;
  }
}

.youtube-clicks-chart,
.reddit-clicks-chart {
  width: 45%;
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
  background-color: white;
  h4 {
    text-align: left;
    font-weight: bold;
    opacity: .7;
    padding: 16px 16px 0 16px;
    margin-bottom: 8px;
    border-radius: 8px 8px 0 0;
  }
}

.total-clicks-wrapper .clicks-chart {
  margin-bottom: 24px;
}

.date-range {
  color: white;
  height: 48px;
  width: 20%;
  border-radius: 5px;
  transition: background 0.3s ease;
  background: #3a84de;
  border: none;
}

.date-range:hover {
    background: #2762aa;
    color: white;
    text-decoration: none;
}

#start_date,
#end_date {
  padding: 8px;
  border-radius: 12px;
  font-size: 18px;
  margin-right: 8px;
  background-color: #DBDFE2;
  border: none;
}

#select-date > form {
  display: flex;
  align-items: center;
}

#select-date > form > label {
  margin-bottom: 0;
  width: 95px;
}

.increase,
.decrease {
  text-align: center;
  p {
    margin-bottom: 0;
  }
  i {
    font-size: 36px;
  }
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.total-clicks-count,
.total-time-count,
.total-session-count {
  display: flex;
  align-items: flex-end;
  p, h4 {
    margin-bottom: 0;
  }
}


[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all 0.15s ease;
  font-size: 12px;
  padding: 4px;
  color: #333;
  border-radius: 8px;
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: #DBDFE2;
  margin-top: 50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}