.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin-bottom: 23px;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
  margin-bottom: 23px;
}


.margin-button {

  margin-bottom: 23px;


}


.trash-button {

    position: absolute;
    left: 286px;
    top: -14px;
}

.flex {

  display: flex;
}
