.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin-bottom: 23px;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
  margin-bottom: 23px;
}


.margin-button {
  margin-bottom: 23px;
}

.close-icon {
  position: relative;
  top: -95px;
  color: #e2ebf1;
  font-size: 20px;
  left: 9px;
  cursor: pointer;
}

.go-back {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
  cursor: pointer;
  color: grey;
}


.trash-button {

    position: absolute;
    left: 286px;
    top: -14px;
}

.flex {

  display: flex;
}
#reddit-button {
  margin-left: 3px;
}

.back-on-widgets-new {
  background-color: black;
  border-radius: 50%;
  margin-bottom: 30px;
}
