.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.text-box {
  background-image: url(https://i.ibb.co/rFzgLnw/aprooft-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 1075px;

}

.text-box2 {
  background-image: url(https://i.ibb.co/18sx1yX/Take-a-Survey.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 614px;
  left: 363px;
  top: -455px;

}
.img-width {

  width: 70%;
}

.subtext1 {

    top: 525px;
    width: 390px;
    margin-left: 44px;
}
