.products-view-wrapper {
  display: none;
}

.products-view-wrapper.active {
  display: block;
}

.search-button {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    right: 130%;
}

.product-searchbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  & .product-searchbar-field {
    width: 50%;
  }
}

.form-control {
  border-radius: 12px;
  height: 60px;
  background-color: #DBDFE2;
}



.product-searchbar-wrapper {
    margin-bottom: 32px;
}


input[type=text]:focus {
  background-color: #DBDFE2;
}
