.search-button {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    left: -49px;
}

.flex {
  display: flex;
  align-items: center;
  & input {
    width: 100%;
  }
}

.form-control {
  border-radius: 5px;
  height: 60px;
  background-color: #DBDFE2;
}

.form-control:focus {
    background-color: #DBDFE2;

    }



.searchbar-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}


input[type=text]:focus {
  background-color: #DBDFE2;
}
