.video-card-list {
    overflow: hidden;
    height: 100px;
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    align-items: center;
    margin-bottom: 15px;
    .video-card-list-thumbnail {
        align-items: center;
        flex-direction: row;
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 155px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    
    .video-card-list-info {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px 8px;
    }

}

.list-info-thumbnail {
    display: block;
    img {
        height: 144px;
        width: 190px;
        // aspect-ratio: auto 158 / 137;
        position: relative;
        top: 2px;
        left: -3px;
    }
}

.list-info-playicon {
    color: #fff;  
    opacity: 0.87;
    position: absolute;
    left: 43%;
    top: 27%;
    font-size: 39px;
    // transform: translate(-50%,-50%);
}

.list-info-title {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    .list-info-title-insidebox {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        flex-grow: 1;
        display: -webkit-box;
        font-size: 16px;
        height: auto;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.list-info-details {
    font-size: 14px;
    color: #70757a;
    .list-info-channel {
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .list-info-number {
        font-size: 13px;
    }
}

.list-info-channel img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 2px;
}
