.widget-button {
    padding: 8px;
    // width: 80px;
    height: 60px;
    border-radius: 12px 0 0 0;
    background-color: var(--widget-topbar-color);
    box-shadow: 0px 0px 2px grey;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    color: var(--widget-highlight-color);
    transition: height 0.3s ease, width 0.3s ease;
    cursor: pointer;
    svg {
        width: 35px;
        height: 35px;
    }
    #widget-yt-btn {
        opacity: 0.8;
        margin-right: 3px;

    }
    #widget-rd-btn {
        opacity: 0.8;
        margin-right: 8px;
    }
}

// .widget-button:hover {
//     width: var(--widget-width);
//     max-width: 100vw;
//     padding: 12px;
//     justify-content: flex-start;
//     small {
//         display: block;
//     }
//     #widget-yt-btn {
//         margin-top: 0px;
//         margin-right: 0px;
//     }
//     #widget-rd-btn {
//         opacity: 1;
//         margin-right: 8px;
//         margin-bottom: 0px;
//     }
// }

.widget-wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 2px grey;
    transition: height 0.4s ease;
}

.widget-wrapper.active {
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: var(--widget-width);
    max-width: 100vw;
    height: var(--widget-height);
    max-height: 100vh;
    background-color: var(--widget-background-color);
    transition: height 0.5s ease;
    border-radius: 12px;
    box-shadow: 0px 0px 2px grey;
}

.edit-widget-wrapper {
    width: var(--widget-width);
    height: var(--widget-height);
}
