.widget-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    color: #20EFE3;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 2px grey;
    transition: width 0.4s ease, height 0.4s ease;
}

.widget-wrapper.active {
    display: flex;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: var(--widget-width);
    height: var(--widget-height);
    background-color: var(--widget-background-color);
    transition: width 0.5s ease, height 0.5s ease;
    border-radius: 12px;
}

.edit-widget-wrapper {
    width: var(--widget-width);
    height: var(--widget-height);
}
