.widgets-all-list {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
  display: flex;
  height: 100vh;
  background-color: aliceblue;
}

.left-column-sidebar {
  height: 100%;
  display: flex;
}

.right-column-content {
  flex-grow: 1;
  padding: 80px;
}

.right-column-content.show-view {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}